@charset "utf-8";
/* CSS Document */
/* reset begin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
pre,
form,
input,
textarea,
th,
td,
select { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
img { border: none; vertical-align: top; }
table { border-collapse: collapse; }
input,
textarea { outline: none; font-family: "Microsoft YaHei", Arial, '宋体'; }
textarea { resize: none; overflow: auto; }
body { font-size: 12px; font-family: "Microsoft YaHei", Arial, '宋体'; background: #fff; color: #333; }
/* reset end */